html, body, #root {
  height: 100%;
  background-color: black;
}
.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  color: #1db954;
}

.btn-lg {
  background-color: rgb(202, 202, 201);
}

.btn-sm {
  background-color: #1db954;
  border: #1db954;
  color:white;
}

.btn-toolbar{
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.login {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.App-header {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  padding-bottom: 15px;
}

h4 {
  margin: auto;
  width: 75%;
}

.playlist {
  margin-bottom: 15px;
}

.recommendation {
  padding-top: 30px;
  border-top: 1px solid white;
}

.selection-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
